# API URL for local testing & release APK on device/emulator
# For Android Emulator: http://10.0.2.2:5000/api/v1
# For Physical Device on Wi-Fi: http://<YOUR_LOCAL_IP>:5000/api/v1
# For Web Preview: http://localhost:5000/api/v1
EXPO_PUBLIC_API_URL=http://localhost:5000/api/v1
